<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registro de Estudiantes</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Control de Estudiantes</a>
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"th:href"@{/estudiantes}">Control
						de Estudiantes</a></li>
			</ul>
		</div>
	</nav>
	
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			     <h1 class="text-center">Registro de Estudiante</h1>
			     <div class="card-body">
			         <form th:action="@{/estudiantes}" th:object="${estudiante}" method="POST">
			         
			     <div class="form-group">
			     <label>Nombre : </label>
			     <input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Digite su nombre: " required>
			     </div>
			     
			     <br>
			      <div class="form-group">
			     <label>Apellido : </label>
			     <input type="text" name="apellido" th:field="*{apellido}" class="form-control" placeholder="Digite su apellido: " required>
			     </div>
			     
			     <br>
			      <div class="form-group">
			     <label>Email : </label>
			     <input type="text" name="email" th:field="*{email}" class="form-control" placeholder="Digite su Email: " required>
			     </div>
			     <br>
			     <div class="box-footer">
			         <button class="btn btn-success">Guardar</button>
			     </div>
			     
			     </form>
			     </div>
			</div>
		</div>

	</div>


</body>
</html>